<% include modules/_header %>
<h1>Welcome to the MOVIE APP</h1>
<h2>The place to be for learning all about your favorite movies!</h2>
<form action="/results" method="GET">
    <input type="text" name="movieSearch" placeholder="enter search terms...">
    <input type="submit">
</form>

<% include modules/_footer %>